$main-font: 'Rubik', sans-serif;
$mono: 'Space Mono', sans-serif;

$purple: #c4b4f7;
$green: #26af5f;
$orange: #ffa500;
$pink: #dd56c2;
$blue: #0662d3;
$gray: #ebf1f4;

:root{
    --tab-active-color: #0662d3;
}